# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
*.iws
*.ipr
.classpath
.projectgit
.settings/
.springBeans
.sts4-cache/
.vscode/

# Configuration
src/main/resources/*.properties

*.properties



# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Cargo (Tomcat)
cargo/

# Compiled
*.class

pom.xml
.gitignore

bookclubDDL.md

1.png