<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.trade.TradeMapper">

    <select id="findBySeq" parameterType="long" resultType="project.trade.TradeVO">
        SELECT
            sb.trade_seq,
            sb.sale_title,
            sb.book_st,
            sb.sale_cont,
            sb.sale_price,
            sb.delivery_cost,
            sb.sale_rg,
            sb.sale_st,
            sb.sale_st_dtm,
            sb.views,
            sb.wish_cnt,
            sb.book_sale_dtm,
            sb.post_no,
            sb.addr_h,
            sb.addr_d,
            sb.recipient_ph,
            sb.recipient_nm,
            sb.crt_dtm,
            sb.upd_dtm,
            sb.payment_type,
            sb.category_nm,
            sb.book_title,
            sb.book_author,
            sb.book_publisher,
            sb.book_org_price,
            sb.book_img
        FROM sb_trade_info AS sb
        WHERE sb.trade_seq = #{trade_seq}
    </select>

    <select id="findImgUrl" parameterType="long" resultType="String">
        SELECT img_url
        FROM book_image
        WHERE trade_seq = #{trade_seq}
        ORDER BY SORT_SEQ
    </select>

    <insert id="save" parameterType="project.trade.TradeVO" useGeneratedKeys="true" keyProperty="trade_seq">
        INSERT INTO sb_trade_info (
            sale_title,
            book_img,
            book_title,
            book_author,
            book_publisher,
            book_org_price,
            isbn,
            category_nm,
            book_st,
            sale_cont,
            sale_price,
            delivery_cost,
            sale_rg,
        ) VALUES (
            #{sale_title},
            #{book_img},
            #{book_title},
            #{book_author},
            #{book_publisher},
            #{book_org_price},
            #{isbn},
            #{category_nm},
            #{book_st},
            #{sale_cont},
            #{sale_price},
            #{delivery_cost},
            #{sale_rg}
        )
    </insert>
</mapper>