<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.chat.chatroom.ChatroomMapper">

    <insert id="save" parameterType="project.chat.chatroom.ChatroomVO" useGeneratedKeys="true" keyProperty="chat_room_seq">
        INSERT INTO chatroom (
        trade_seq,
        crt_dtm,
        member_buyer_seq,
        member_seller_seq,
        sale_title
        ) VALUES (
        #{trade_seq}, now(), #{member_buyer_seq}, #{member_seller_seq}, #{sale_title}
        )
    </insert>

    <select id="findRoom" resultType="project.chat.chatroom.ChatroomVO">
        SELECT chat_room_seq, trade_seq, crt_dtm, member_seller_seq, member_buyer_seq
        FROM chatroom
        WHERE member_seller_seq=#{member_seller_seq} and member_buyer_seq=#{member_buyer_seq} and trade_seq=#{trade_seq}
    </select>
    <select id="findAllByMemberSeq" resultType="project.chat.chatroom.ChatroomVO">
        SELECT * FROM chatroom WHERE member_buyer_seq=#{member_seq} or
        member_seller_seq =#{member_seq}
    </select>
    <select id="findAllByChatRoomSeq" resultType="project.chat.message.MessageVO">
        SELECT * FROM chat_msg WHERE chat_room_seq = #{chat_room_seq}
        ORDER BY sent_dtm ASC
    </select>

</mapper>