<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.admin.AdminMapper">

    <select id="loginAdmin" resultType="project.admin.AdminVO">
        SELECT * FROM ADMIN WHERE ADMIN_LOGIN_ID = #{id} AND ADMIN_PASSWORD = #{pwd}
    </select>

    <select id="countAllMembers" resultType="int">
        SELECT COUNT(*) FROM MEMBER_INFO WHERE MEMBER_DELETED_DTM IS NULL
    </select>
    <select id="countAllTrades" resultType="int">
        SELECT COUNT(*) FROM SB_TRADE_INFO WHERE DEL_DTM IS NULL
    </select>
    <select id="countAllBookClubs" resultType="int">
        SELECT COUNT(*) FROM BOOK_CLUB WHERE BOOK_CLUB_DELETED_DT IS NULL
    </select>

    <select id="selectRecentMembers" resultType="project.member.MemberVO">
        SELECT * FROM MEMBER_INFO
        WHERE MEMBER_DELETED_DTM IS NULL
        ORDER BY CRT_DTM DESC
            LIMIT 10
    </select>

    <select id="selectRecentTrades" resultType="project.trade.TradeVO">
        SELECT trade_seq, sale_title, sale_price, sale_rg, sale_st, book_title, crt_dtm
        FROM SB_TRADE_INFO
        WHERE DEL_DTM IS NULL
        ORDER BY CRT_DTM DESC
            LIMIT 10
    </select>

    <select id="selectRecentBookClubs" resultType="project.bookclub.vo.BookClubVO">
        SELECT
            BOOK_CLUB_SEQ,
            BOOK_CLUB_NAME,
            BOOK_CLUB_RG,
            BOOK_CLUB_MAX_MEMBER,
            BOOK_CLUB_SCHEDULE,
            CRT_DTM
        FROM BOOK_CLUB
        WHERE BOOK_CLUB_DELETED_DT IS NULL
        ORDER BY CRT_DTM DESC
            LIMIT 10
    </select>

</mapper>