<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.bookclub.mapper.BookClubMapper">
    <!--
        searchAll() : 독서 모임을 전체 조회
        searchByKeyword() : 검색어에 따른 독서 모임을 조회
        insertBookClub() : 모임을 생성
        countByName() : 모임명의 개수 파악 -> 모임명 중복 체크
    -->
    <!-- 독서모임 전체 조회 -->
    <select id="searchAll" resultType="project.bookclub.vo.BookClubVO">
        SELECT
            book_club_seq
            ,book_club_leader_seq
            ,book_club_name
            ,book_club_desc
            ,book_club_rg
            ,book_club_max_member
            ,book_club_deleted_dt /* 생략 가능? */
            ,banner_img_url
            ,book_club_schedule /* 생략 가능? */
            ,crt_dtm
            ,upd_dtm
        FROM book_club
        WHERE book_club_deleted_dt IS NULL
        ORDER BY book_club_seq
    </select>

    <!-- 독서모임 키워드 조회 -->
    <select id="searchByKeyword" parameterType="list" resultType="project.bookclub.vo.BookClubVO">
        SELECT
            book_club_seq
            ,book_club_leader_seq
            ,book_club_name
            ,book_club_desc
            ,book_club_rg
            ,book_club_max_member
            ,book_club_deleted_dt
            ,banner_img_url
            ,book_club_schedule
            ,crt_dtm
            ,upd_dtm
        FROM book_club
        WHERE  book_club_deleted_dt IS NULL
        AND
        <!-- -->
        <foreach collection="tokens" item="token" separator="AND">
            (
                book_club_name LIKE CONCAT('%', #{token}, '%')
                OR
                book_club_rg LIKE CONCAT('%', #{token}, '%')
            )
        </foreach>
        ORDER BY book_club_seq DESC
    </select>

    <insert id="insertBookClub" parameterType="project.bookclub.vo.BookClubVO" useGeneratedKeys="true" keyProperty="book_club_seq">
        INSERT INTO book_club (
            book_club_leader_seq
            ,book_club_name
            ,book_club_desc
            ,book_club_rg
            ,book_club_max_member
            ,banner_img_url
            ,book_club_schedule
            ,crt_dtm
        ) VALUES (
            #{book_club_leader_seq}
            ,#{book_club_name}
            ,#{book_club_desc}
            ,#{book_club_rg}
            ,#{book_club_max_member}
            ,#{banner_img_url}
            ,#{book_club_schedule}
            ,now()
        )
    </insert>

    <select id="countByName" parameterType="string" resultType="int">
        SELECT COUNT(*)
        FROM book_club
        WHERE book_club_name = #{book_club_name}
        AND book_club_deleted_dt IS NULL
    </select>

    <select id="countByLeaderAndName" resultType="int">
        SELECT COUNT(*)
        FROM book_club
        WHERE book_club_leader_seq = #{leaderSeq}
        AND book_club_name = #{name}
        AND book_club_deleted_dt IS NULL
    </select>
</mapper>
